#map {
    height: 100%;
  }
    
  .controls {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 40px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 40%;
  }
  
  .controls:focus {
    border-color: #4d90fe;
  }
  
  .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }

  #spots-list-title {
    font-size: large;
    margin-left: 5px;
    margin-bottom: 5px;
    color: rgb(6, 16, 34);  
    font-weight: 350;
    letter-spacing: 2px;
  }

  

#delete-message {
  opacity: 0.7;
  align-self: center;
  margin-left: auto;
  justify-self: auto;
  font-size: 15px;
}

#calculateTrip {
  position: absolute;
  right: 20px;
}

#settings {
  position: absolute;
  right: 148px;
}

#archive-banner {
  cursor: pointer;
  position: fixed;
  top: 5px;
  margin-left: 7%;
  opacity: 0.5;
  display: none;
}

#instruction {
  width: auto;
  padding: 2px 8px;
  border-radius: 50px;
  position: absolute; 
  left: 8px;
  bottom: 5px;
  background-color: rgb(250, 250, 250);
  opacity: 0.92;
}
