

body {
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  /* ------- Header ------- */
  /* position relative/absolute */

  header {
    margin: 20px 10px 0;
    height: 7vh;
    position: relative;
  }

  #back-dashboard {
    position: absolute;
    left: 5px;
  }

  #trip-title {
    position: absolute;
    right: 170px;
  }

  #undo-redo {
    position:absolute;
    top: 3px;
    left: 300px;
  }

  #nav-bar {
    position: absolute;
    top: 0;
    left: 107px;
  }

  #account {
    position: absolute;
    right: 93px;
  }

  #share {
    position: absolute;
    right: 20px;
  }

  footer {
    margin-top: 0.5em;
    height: 5vh;
    border: 1px black solid;
    text-align: center;
  }


  
  /* ------- Main ------- */

  #main {
    position: relative;
    align-items: flex-start;
  }

  /* ------- calendar ------- */
  #calendar-container {
    width: 62%;
    padding: 0;
    position: absolute;
    bottom: 5px;
    height: 86vh;
    margin-left: 7px;
  }
  
  #calendar {
    width: 99%;
    margin: 0;
    height: 100%;
  }

  /* ------- right side of view port ------- */
  .right_side {
    width: 36%;
    margin-left: auto;
    margin-right: 1%;
    padding-left: 5px;
    height: 84vh;
  }


  /* ------- events blocks ------- */
  #external-events {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    z-index: 2;
    padding: 2px;
  }
  
  #external-events .fc-event {
    cursor: move;
    margin: 3px 0;
    height: 70px;
    font-size: 14px;
  }
  
  .fc-event-main {
    display: flex;
    line-height: 1.6;
    padding-left: 5px;
    font-size: 16px;
  }

  #scroll-area {
    margin-bottom: 5%;
    height: 35%;
  }
  
  .scroll-container, #cities-container {
    display: block;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 5px;
    overflow-x: hidden;
    background-color: blanchedalmond;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    margin-right: 1%;
  }

  .scroll-container{
    width: 65%;
  }

  #cities-container {
    width: 35%;
  }

  .city {
    cursor: pointer;
    display: flex;
    /* flex-direction: column; */
    margin-left: auto;
    z-index: 2;
    padding: 2px;
    margin: 5px 0;
    height: 50px;
    background-color: #6199d2;
    border-radius: 3px;
    color: white;
    text-align: center;
    align-items: center;
  }

 
  /* ------- map block ------- */
  #google_maps_container {
    width: 100%;
    height: 60%;
    border: 1px solid black;
    border-radius: 5px;
  }

  #map {
    height: 100%;
  }



  